In [1]:
# Import data
import pandas as pd

credit = pd.read_csv('defaultofcreditcardclients.csv', header =1)

# See header of data
credit.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [2]:
# Deleting rows with missing values 
credit = credit.dropna(axis=0)

In [24]:
# Converting PAY_* -2 to 10 and -1 to 11
credit["PAY_0"].replace({-1 : 10, -2 : 11}, inplace=True)
credit["PAY_2"].replace({-1 : 10, -2 : 11}, inplace=True)
credit["PAY_3"].replace({-1 : 10, -2 : 11}, inplace=True)
credit["PAY_4"].replace({-1 : 10, -2 : 11}, inplace=True)
credit["PAY_5"].replace({-1 : 10, -2 : 11}, inplace=True)
credit["PAY_6"].replace({-1 : 10, -2 : 11}, inplace=True)

# Converting Other Education in the same value (0) 
credit["EDUCATION"].replace({4 : 0, 5 : 0, 6 : 0}, inplace=True)

In [42]:
credit_dummies = credit

credit_dummies["SEX"].replace({1 : "SEX_MALE", 2 : "SEX_FEMALE"}, inplace=True)
credit_SEX_dummies = pd.get_dummies(credit_dummies['SEX'])

credit_dummies["EDUCATION"].replace({0 : "EDUC_OTHER", 1 : "EDUC_GRAD", 2 : "EDUC_UNIV", 3 : "EDUC_HS"}, inplace=True)
credit_EDUCATION_dummies = pd.get_dummies(credit_dummies['EDUCATION'])

credit_dummies["MARRIAGE"].replace({0 : "MARR_OTHER", 1 : "MARR_MARRIED", 2 : "MARR_SINGLE", 3 : "MARR_DIVORCED"}, inplace=True)
credit_MARRIAGE_dummies = pd.get_dummies(credit_dummies['MARRIAGE'])

credit_dummies["PAY_0"].replace({0 : "PAY_0_PAIDINFULL", 1 : "PAY_0_REVCREDIT", 2 : "PAY_0_2_MONTH", 3 : "PAY_0_3_MONTH", 4 : "PAY_0_4_MONTH", 5 : "PAY_0_5_MONTH", 6 : "PAY_0_6_MONTH", 7 : "PAY_0_7_MONTH", 8 : "PAY_0_8_MONTH", 9 : "PAY_0_9PLUS_MONTH", 10 : "PAY_0_NOCONS", 11 : "PAY_0_PAIDFULL"}, inplace=True)
credit_PAY_0_dummies = pd.get_dummies(credit_dummies['PAY_0'])

credit_dummies["PAY_2"].replace({0 : "PAY_2_PAIDINFULL", 1 : "PAY_2_REVCREDIT", 2 : "PAY_2_2_MONTH", 3 : "PAY_2_3_MONTH", 4 : "PAY_2_4_MONTH", 5 : "PAY_2_5_MONTH", 6 : "PAY_2_6_MONTH", 7 : "PAY_2_7_MONTH", 8 : "PAY_2_8_MONTH", 9 : "PAY_2_9PLUS_MONTH", 10 : "PAY_2_NOCONS", 11 : "PAY_2_PAIDFULL"}, inplace=True)
credit_PAY_2_dummies = pd.get_dummies(credit_dummies['PAY_2'])

credit_dummies["PAY_3"].replace({0 : "PAY_3_PAIDINFULL", 1 : "PAY_3_REVCREDIT", 2 : "PAY_3_2_MONTH", 3 : "PAY_3_3_MONTH", 4 : "PAY_3_4_MONTH", 5 : "PAY_3_5_MONTH", 6 : "PAY_3_6_MONTH", 7 : "PAY_3_7_MONTH", 8 : "PAY_3_8_MONTH", 9 : "PAY_3_9PLUS_MONTH", 10 : "PAY_3_NOCONS", 11 : "PAY_3_PAIDFULL"}, inplace=True)
credit_PAY_3_dummies = pd.get_dummies(credit_dummies['PAY_3'])

credit_dummies["PAY_4"].replace({0 : "PAY_4_PAIDINFULL", 1 : "PAY_4_REVCREDIT", 2 : "PAY_4_2_MONTH", 3 : "PAY_4_3_MONTH", 4 : "PAY_4_4_MONTH", 5 : "PAY_4_5_MONTH", 6 : "PAY_4_6_MONTH", 7 : "PAY_4_7_MONTH", 8 : "PAY_4_8_MONTH", 9 : "PAY_4_9PLUS_MONTH", 10 : "PAY_4_NOCONS", 11 : "PAY_4_PAIDFULL"}, inplace=True)
credit_PAY_4_dummies = pd.get_dummies(credit_dummies['PAY_4'])

credit_dummies["PAY_5"].replace({0 : "PAY_5_PAIDINFULL", 1 : "PAY_5_REVCREDIT", 2 : "PAY_5_2_MONTH", 3 : "PAY_5_3_MONTH", 4 : "PAY_5_4_MONTH", 5 : "PAY_5_5_MONTH", 6 : "PAY_5_6_MONTH", 7 : "PAY_5_7_MONTH", 8 : "PAY_5_8_MONTH", 9 : "PAY_5_9PLUS_MONTH", 10 : "PAY_5_NOCONS", 11 : "PAY_5_PAIDFULL"}, inplace=True)
credit_PAY_5_dummies = pd.get_dummies(credit_dummies['PAY_5'])

credit_dummies["PAY_6"].replace({0 : "PAY_6_PAIDINFULL", 1 : "PAY_6_REVCREDIT", 2 : "PAY_6_2_MONTH", 3 : "PAY_6_3_MONTH", 4 : "PAY_6_4_MONTH", 5 : "PAY_6_5_MONTH", 6 : "PAY_6_6_MONTH", 7 : "PAY_6_7_MONTH", 8 : "PAY_6_8_MONTH", 9 : "PAY_6_9PLUS_MONTH", 10 : "PAY_6_NOCONS", 11 : "PAY_6_PAIDFULL"}, inplace=True)
credit_PAY_6_dummies = pd.get_dummies(credit_dummies['PAY_6'])

credit_dummies = pd.concat([credit_dummies, credit_SEX_dummies, credit_EDUCATION_dummies, credit_MARRIAGE_dummies, credit_PAY_0_dummies, credit_PAY_2_dummies, credit_PAY_3_dummies, credit_PAY_4_dummies, credit_PAY_5_dummies, credit_PAY_6_dummies], axis=1)
del credit_dummies['SEX']
del credit_dummies['EDUCATION']
del credit_dummies['MARRIAGE']
del credit_dummies['PAY_0']
del credit_dummies['PAY_2']
del credit_dummies['PAY_3']
del credit_dummies['PAY_4']
del credit_dummies['PAY_5']
del credit_dummies['PAY_6']

#Delete ID column 
del credit_dummies['ID']

print(credit_dummies)

       LIMIT_BAL  AGE  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  \
0          20000   24       3913       3102        689          0          0
1         120000   26       2682       1725       2682       3272       3455
2          90000   34      29239      14027      13559      14331      14948
3          50000   37      46990      48233      49291      28314      28959
4          50000   57       8617       5670      35835      20940      19146
...          ...  ...        ...        ...        ...        ...        ...
29995     220000   39     188948     192815     208365      88004      31237
29996     150000   43       1683       1828       3502       8979       5190
29997      30000   37       3565       3356       2758      20878      20582
29998      80000   41      -1645      78379      76304      52774      11855
29999      50000   46      47929      48905      49764      36535      32428

       BILL_AMT6  PAY_AMT1  PAY_AMT2  ...  PAY_6_2_MONTH  PAY_6_3_MONTH  \
0              0         0       689  ...              0              0
1           3261         0      1000  ...              1              0
2          15549      1518      1500  ...              0              0
3          29547      2000      2019  ...              0              0
4          19131      2000     36681  ...              0              0
...          ...       ...       ...  ...            ...            ...
29995      15980      8500     20000  ...              0              0
29996          0      1837      3526  ...              0              0
29997      19357         0         0  ...              0              0
29998      48944     85900      3409  ...              0              0
29999      15313      2078      1800  ...              0              0

       PAY_6_4_MONTH  PAY_6_5_MONTH  PAY_6_6_MONTH  PAY_6_7_MONTH  \
0                  0              0              0              0
1                  0              0              0              0
2                  0              0              0              0
3                  0              0              0              0
4                  0              0              0              0
...              ...            ...            ...            ...
29995              0              0              0              0
29996              0              0              0              0
29997              0              0              0              0
29998              0              0              0              0
29999              0              0              0              0

       PAY_6_8_MONTH  PAY_6_NOCONS  PAY_6_PAIDFULL  PAY_6_PAIDINFULL
0                  0             0               1                 0
1                  0             0               0                 0
2                  0             0               0                 1
3                  0             0               0                 1
4                  0             0               0                 1
...              ...           ...             ...               ...
29995              0             0               0                 1
29996              0             0               0                 1
29997              0             0               0                 1
29998              0             1               0                 0
29999              0             0               0                 1

[30000 rows x 89 columns]

In [46]:
# Correlation Matrix

corrMatrix = credit_dummies.corr()
print(corrMatrix)

                  LIMIT_BAL       AGE  BILL_AMT1  BILL_AMT2  BILL_AMT3  \
LIMIT_BAL          1.000000  0.144713   0.285430   0.278314   0.283236
AGE                0.144713  1.000000   0.056239   0.054283   0.053710
BILL_AMT1          0.285430  0.056239   1.000000   0.951484   0.892279
BILL_AMT2          0.278314  0.054283   0.951484   1.000000   0.928326
BILL_AMT3          0.283236  0.053710   0.892279   0.928326   1.000000
...                     ...       ...        ...        ...        ...
PAY_6_7_MONTH     -0.032136  0.008379  -0.026136  -0.025914  -0.025372
PAY_6_8_MONTH     -0.006450  0.002670  -0.001519  -0.000315  -0.000154
PAY_6_NOCONS       0.140477  0.040085  -0.228727  -0.237371  -0.237133
PAY_6_PAIDFULL     0.128745  0.038152  -0.219897  -0.236241  -0.247437
PAY_6_PAIDINFULL  -0.101802 -0.047394   0.349691   0.362232   0.362896

                  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  ...  \
LIMIT_BAL          0.293988   0.295562   0.290389  0.195236  0.178408  ...
AGE                0.051353   0.049345   0.047613  0.026147  0.021785  ...
BILL_AMT1          0.860272   0.829779   0.802650  0.140277  0.099355  ...
BILL_AMT2          0.892482   0.859778   0.831594  0.280365  0.100851  ...
BILL_AMT3          0.923969   0.883910   0.853320  0.244335  0.316936  ...
...                     ...        ...        ...       ...       ...  ...
PAY_6_7_MONTH     -0.025066  -0.024621  -0.024188 -0.013397 -0.010071  ...
PAY_6_8_MONTH      0.000791   0.001804   0.001932  0.002138 -0.002098  ...
PAY_6_NOCONS      -0.248503  -0.260246  -0.242632  0.013027  0.023480  ...
PAY_6_PAIDFULL    -0.262255  -0.273676  -0.269930 -0.050882 -0.042964  ...
PAY_6_PAIDINFULL   0.370261   0.373879   0.354583  0.056515  0.038053  ...

                  PAY_6_2_MONTH  PAY_6_3_MONTH  PAY_6_4_MONTH  PAY_6_5_MONTH  \
LIMIT_BAL             -0.153900      -0.055404      -0.033762      -0.009595
AGE                   -0.019498      -0.009464      -0.003295       0.000467
BILL_AMT1              0.000228      -0.017541      -0.012509      -0.001839
BILL_AMT2              0.010148      -0.015144      -0.011187      -0.000630
BILL_AMT3              0.021627      -0.012595      -0.009366       0.002317
...                         ...            ...            ...            ...
PAY_6_7_MONTH         -0.012489      -0.003078      -0.001585      -0.000816
PAY_6_8_MONTH         -0.002602      -0.000641      -0.000330      -0.000170
PAY_6_NOCONS          -0.155018      -0.038212      -0.019674      -0.010128
PAY_6_PAIDFULL        -0.140723      -0.034688      -0.017860      -0.009194
PAY_6_PAIDINFULL      -0.347293      -0.085607      -0.044078      -0.022690

                  PAY_6_6_MONTH  PAY_6_7_MONTH  PAY_6_8_MONTH  PAY_6_NOCONS  \
LIMIT_BAL             -0.015647      -0.032136      -0.006450      0.140477
AGE                   -0.004057       0.008379       0.002670      0.040085
BILL_AMT1             -0.003726      -0.026136      -0.001519     -0.228727
BILL_AMT2             -0.002239      -0.025914      -0.000315     -0.237371
BILL_AMT3             -0.000815      -0.025372      -0.000154     -0.237133
...                         ...            ...            ...           ...
PAY_6_7_MONTH         -0.000987       1.000000      -0.000320     -0.019062
PAY_6_8_MONTH         -0.000206      -0.000320       1.000000     -0.003972
PAY_6_NOCONS          -0.012245      -0.019062      -0.003972      1.000000
PAY_6_PAIDFULL        -0.011116      -0.017304      -0.003605     -0.214786
PAY_6_PAIDINFULL      -0.027433      -0.042705      -0.008898     -0.530073

                  PAY_6_PAIDFULL  PAY_6_PAIDINFULL
LIMIT_BAL               0.128745         -0.101802
AGE                     0.038152         -0.047394
BILL_AMT1              -0.219897          0.349691
BILL_AMT2              -0.236241          0.362232
BILL_AMT3              -0.247437          0.362896
...                          ...               ...
PAY_6_7_MONTH          -0.017304         -0.042705
PAY_6_8_MONTH          -0.003605         -0.008898
PAY_6_NOCONS           -0.214786         -0.530073
PAY_6_PAIDFULL          1.000000         -0.481195
PAY_6_PAIDINFULL       -0.481195          1.000000

[89 rows x 89 columns]

In [48]:
# Get top 25 correlation pairs
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(credit_dummies, 25))

Top Absolute Correlations
FEMALE            MALE                1.000000
MARRIED           SINGLE              0.975033
PAY_0_8_MONTH     PAY_2_7_MONTH       0.974663
BILL_AMT1         BILL_AMT2           0.951484
PAY_4_7_MONTH     PAY_5_7_MONTH       0.948176
BILL_AMT5         BILL_AMT6           0.946197
BILL_AMT4         BILL_AMT5           0.940134
PAY_2_7_MONTH     PAY_3_6_MONTH       0.932458
BILL_AMT2         BILL_AMT3           0.928326
BILL_AMT3         BILL_AMT4           0.923969
PAY_0_8_MONTH     PAY_3_6_MONTH       0.908833
BILL_AMT4         BILL_AMT6           0.900941
BILL_AMT2         BILL_AMT4           0.892482
BILL_AMT1         BILL_AMT3           0.892279
PAY_4_7_MONTH     PAY_6_7_MONTH       0.890385
PAY_5_7_MONTH     PAY_6_7_MONTH       0.890385
BILL_AMT3         BILL_AMT5           0.883910
PAY_0_PAIDINFULL  PAY_2_PAIDINFULL    0.872087
PAY_0_7_MONTH     PAY_2_6_MONTH       0.865982
BILL_AMT1         BILL_AMT4           0.860272
BILL_AMT2         BILL_AMT5           0.859778
PAY_4_PAIDFULL    PAY_5_PAIDFULL      0.858535
BILL_AMT3         BILL_AMT6           0.853320
PAY_5_PAIDFULL    PAY_6_PAIDFULL      0.845362
PAY_3_PAIDFULL    PAY_4_PAIDFULL      0.844808
dtype: float64

In [55]:
# Correlation with dependent variable
corrDefault = credit_dummies.corr()['DEFAULT'][:]
display(corrDefault)
type(corrDefault)

LIMIT_BAL          -0.153520
AGE                 0.013890
BILL_AMT1          -0.019644
BILL_AMT2          -0.014193
BILL_AMT3          -0.014076
                      ...
PAY_6_7_MONTH       0.057111
PAY_6_8_MONTH       0.015321
PAY_6_NOCONS       -0.060167
PAY_6_PAIDFULL     -0.022119
PAY_6_PAIDINFULL   -0.086002
Name: DEFAULT, Length: 89, dtype: float64

pandas.core.series.Series